$gray:#cecece;
$gray-light: rgb(238,238,238);
$blue-l: #5FC4ED;
$blue: #2C64E8;
$blue-d: #222c31;
$green: #4bb374;
$red: #e33f48;
$orange: #F38630;
$yellow: #dbc512;
$white: #ffffff;
$jet: rgb(34, 34, 34);
$jet-light: rgb(56, 40, 40);

$font: 'Lato', sans-serif !default;

$font-size: 15px;
$lh: 22.2px;

$box-shadow: 0 0 5px rgba(0,0,0,.2);
$box-shadow-hover: 0 2px 9px rgba(0,0,0,.2);
$border: 1px solid $gray;

$sm: 480px;
$md: 768px;
$l: 940px;

@mixin mobile {
  @media only screen and (max-width: #{$sm}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$sm}) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: #{$md}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$l}) {
    @content;
  }
}

