@import url(//fonts.googleapis.com/css?family=Lato:400,700,900);
@import "var";

html, * {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: $font;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

.header, .container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/bar.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  background-size: 100% 5px;
}

.logo h1 {
  text-align: center;
  color: $font;
  margin: 0;
  line-height: 50px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  float: left;
}

.nav-list a {
  display: block;
  padding: 8px 12px;
  font-weight: bold;
  color: $jet;
  &:hover {
    color: $blue;
  }
}

.landing {
  padding: 60px 0;
  text-align: center;
}

.landing-title {
  font-size:3.8em;
  font-weight: 800;
  margin-bottom: 30px;
  text-shadow: 2px 2px 1px #ccc;
  line-height: initial;
  @include mobile {
    font-size:3.2em;
  }
}
.landing-content p {
  max-width: 400px;
  margin:0 auto;
}
.landing-content .btn {
  margin: 10px 5px;
}

.services {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
    margin: 20px;
  }
}
.service-title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  @include mobile {
    text-align: left;
    border: none;
    padding-bottom: 0;
  }
}
.service {
  width: 30%;
  @include mobile {
    width: 100%;
    border-bottom: 1px solid #cccccc;
  }
}

.arrow-down {
  margin: 80px auto;
  display: block;
}

.recent {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    display: block;
  }
}
.recent-description, .recent-screenshot {
  width: 48%;
  @include mobile {
    width: 100%;
  }
}
.recent-screenshot img {
  max-width: 100%;
}

.footer {
  background-image: url(../img/bar.png);
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 100% 5px;
  display: flex;
  padding-top: 40px;
  margin-top: 80px;
  @include mobile {
    flex-direction: column-reverse;
  }
}
.contact, .adres, .social {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 30%;
  @include mobile {
    margin-bottom: 20px;
  }
}
.site-description {
  width: 40%;
  @include mobile {
    width: 100%;
  }
}

/* ==========================================================================
  Components
  ========================================================================== */
.btn {
  background: $orange;
  background-image: linear-gradient(-35deg, #F37130, #F39830);
  white-space: nowrap;
  display: inline-block;
  padding: 8px 10px;
  color: $white;
  box-shadow: $box-shadow;
  transition-delay: 100ms;
  transition: all 300ms;
  &:hover {
    box-shadow: $box-shadow-hover;
    background-image: linear-gradient(-35deg, #F47B3E, #F29121);
  }
}

button {
  border: 0;
}

.btn-secondary {
  background: $white;
  color: $blue;
  border: 2px solid $blue;
  &:hover {
    background-image: linear-gradient(180deg, #ffffff, #fefefe, #fcfcfc);
  }
}