<footer class="footer">
    <div class="container">
        <div class="footergrid">
            <div class="footer__about">
                <strong class="footer__title">Over WCreate</strong>
                <p>
                    WCreate is het software ontwikkelingsbedrijf gespecialiseerd
                    in het bouwen van software. Met kennis op verschillende
                    gebieden bouwen wij aan mooie digitale oplossingen voor
                    klanten in verschillende industrieen en sectoren.
                </p>
            </div>
            <div class="footer__contact">
                <div class="footer__contactmail">
                    <strong class="footer__title">Contact</strong>
                    <div class="footer__contactmailaddress">
                        <img src="/assets/img/icon-at.svg" alt="Email" />
                        <a
                            href="mailto:info@wcreate.nl"
                            title="Verstuur een e-mail naar info@wcreate.nl"
                            >info@wcreate.nl</a
                        >
                    </div>
                </div>
                <div class="footer__contactlocation">
                    <strong class="footer__title">Adres</strong>
                    <div class="footer__contactaddress">
                        <img src="/assets/img/icon-mappin.svg" alt="Locatie" />
                        <div class="footer__contactaddresslines">
                            <span>Netherlands</span>
                            <span>Weusteweg 9a</span>
                            <span>7641AG Wierden</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__contactnav">
                <strong class="footer__title">Navigatie</strong>
                <div class="footer__contactnavlists">
                    <ul class="footer__contactnavlist">
                        <li><a href="/services">Diensten</a></li>
                        <li><a href="/work">Werk</a></li>
                        <li><a href="/experts">Expertise</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    <ul class="footer__contactnavlist">
                        <li><a href="/experts/wordpress">Wordpress</a></li>
                        <li><a href="/experts/shopify">Shopify</a></li>
                        <li><a href="/experts/flutter">Flutter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="/assets/script.js"></script>
