<header>
    <div class="container">
        <div class="logo">
            <a href="/">
                <img class="logo__img" src="/assets/img/wcreate_logo.svg" alt="WCreate logo">
            </a>
        </div>
        <nav class="nav nav--primary" role="navigation" tabindex="-1" aria-labelledby="mainmenulabel">
            <h2 id="mainmenulabel" class="visuallyhidden">Main Menu</h2>
            <ul class="nav__list">
                <li class="nav__item {{ 'nav__item-active' if page.url == ' / ' }}">
                    <a class="nav__link" href="/">Home</a>
                </li>
                <li class="nav__item {{ 'nav__item-active' if page.url == ' / ' }}"">
                    <a class="nav__link" href="/services">About</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link {{ 'nav__item-active' if page.url == ' / ' }}"" href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>