:root {
    --font-size: 16px;
    --line-height: 24px;
    --font-family: "Inter", sans-serif;

    --color-aliceblue: #E9F1F8;
    --color-smokyblack: #111111;
    --color-whitesmoke: #F6F6F6;
    --color-frenchblue: #2477B9;

    --color-paragraph: #434343;
    --color-heading: #111111;

    --color-bg: #ffffff;
    --color-bg-alt: var(--color-aliceblue);
    --color-bg-dark: var(--color-smokyblack);
    --color-bg-dark-alt: var(--color-smokyblack);

    --container: 1200px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family);
}

p {
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--color-paragraph);
}

.container {
    max-width: var(--container);
    margin: 0 auto;
}

/* Header */

.header__container {
    display: grid;
    grid-template-columns: 320px 1fr;
    align-items: center;
}

.logo {
    padding: 16px;
}

.navslide {
    padding: 24px;
}

.navmobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}

.nav__list {
    list-style: none;
    padding: 0;
    flex: 1;
}

.subnav_list {
    padding-left: 24px;
}

.nav__slideout {
    background: var(--color-bg-dark);
    color: var(--color-bg);
    width: 380px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    animation-duration: 0.5s;
    animation-name: animate-openmenu;
    animation-fill-mode: backwards;
    opacity: 0;
    display: none;
    transform-origin: top right;
}

@media screen and (max-width: 768px) {
    .nav__slideout {
        width: 100%;
        height: 100vh;
    }
}

@keyframes animate-openmenu {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav__slideout--deleting {
    display: none;
    opacity: 0;
    animation-duration: 350ms;
    animation-name: animate-closemenu;
    animation-fill-mode: forwards;
}

@keyframes animate-closemenu {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(15px)
    }
}

.nav__slideout--open {
    display: block;
    opacity: 1;
}

.nav__list a {
    color: #ffffff;
    text-decoration: none;
    padding: 4px;
    display: block;
}

.nav__list a:hover {
    color: #ffffff;
}

.subnav_list a {
    color: rgba(255, 255, 255, 0.7);
}

.navslide {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navslide__footer {
    display: flex;
}

.navslide__head {
    display: flex;
    justify-content: flex-end;
}

.navslide__closebtn {
    background: none;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navslide__footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 0 0;
}

.navslide__socials {
    display: flex;
}

.navslide__social a {
    padding: 8px;
    display: flex;
    align-items: center;
}

.navslide__email {
    display: flex;
    align-items: center;
    padding: 8px;
}

.navslide__email img {
    margin-right: 8px;
}

.navslide__email a {
    color: #fff;
    text-decoration: none;
}

.menubtn {
    background: var(--color-whitesmoke);
    border: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menubtn .btnwhite {
    display: none;
}

.menubtn:hover {
    background: var(--color-bg-dark);
    color: #fff;
}

.menubtn:hover .btnwhite {
    display: block;
}

.menubtn:hover .btnblack {
    display: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 10px);
    }

    to {
        transform: translate(0, -0px);
    }
}

@media screen and (max-width: 768px) {
    .logo__img {
        height: 40px;
    }
}

/* Homepage */
.homehero__container {
    display: grid;
    grid-template-columns: 480px auto;
    grid-template-areas: 'intro images';
    padding: 40px 0 80px 0;
}

.homehero__introtext {
    padding-right: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homehero__introtext {
    grid-area: intro;
}

.homehero__images {
    grid-area: images;
}

.homehero__introtext h1 {
    margin-bottom: 16px;
}

.imagegrid {
    display: grid;
    grid-template-columns: repeat(18, 40px);
    grid-template-rows: repeat(9, 40px);
}

.imagegrid__project {
    overflow: hidden;
    border-radius: 8px;
    padding: 12px;
    position: relative;
}

.imagegrid__project img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center center;
}

.imagegrid__project_1 {
    width: 200px;
    height: 200px;
    grid-column: 1 / span 4;
    grid-row: 2 / span 4;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.imagegrid__project_2 {
    width: 120px;
    height: 120px;
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
}

.imagegrid__project_3 {
    width: 240px;
    height: 240px;
    grid-column: 6 / span 8;
    grid-row: 4 / span 8;
}

.imagegrid__project_4 {
    width: 240px;
    height: 140px;
    grid-column: 12 / span 8;
    grid-row: 2 / span 4;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.imagegrid__project_5 {
    width: 120px;
    height: 120px;
    grid-column: 13 / span 2;
    grid-row: 6 / span 2;
}

@media screen and (max-width: 768px) {
    .homehero__container {
        grid-template-columns: 1fr;
        grid-template-areas: 'images' 'intro';
    }

    .imagegrid {
        margin: 0 auto;
        width: 360px;
        grid-template-columns: repeat(12, 30px);
        grid-template-rows: repeat(9, 30px);
    }

    .imagegrid__project {
        padding: 8px;
    }

    .imagegrid__project_1 {
        width: 120px;
        height: 120px;
        grid-column: 1 / span 3;
        grid-row: 3 / span 3;
    }

    .imagegrid__project_2 {
        width: 90px;
        height: 90px;
        grid-column: 2 / span 3;
        grid-row: 7 / span 3;
    }

    .imagegrid__project_3 {
        width: 150px;
        height: 150px;
        grid-column: 5 / span 5;
        grid-row: 1 / span 5;
    }

    .imagegrid__project_4 {
        height: 120px;
        width: 190px;
        grid-column: 5 / span 3;
        grid-row: 6 / span 3;
    }

    .imagegrid__project_5 {
        width: 90px;
        height: 90px;
        grid-column: 10 / span 3;
        grid-row: 3 / span 3;
    }

    .homehero__introtext {
        padding: 16px;
        text-align: center;
        max-width: 380px;
        margin: 0 auto;
    }
}

.servicesbar {
    background: var(--color-aliceblue);
}

.servicesbar__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.servicesbar__listitem {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.servicesbar__listitem span {
    position: relative;
    z-index: 10;
}

.servicesbar__listitem.active:after {
    background: var(--color-frenchblue);
    content: "";
    width: 100%;
    height: 72px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(12px);
    border-radius: 8px;
}

.servicesbar__listitem.active span {

    color: #fff;
    font-weight: 600;
}

.serviceitem {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.serviceitem__text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceitem__textcontent {
    width: 350px;
}

.serviceitem__image {
    width: 300px;
    padding: 40px;
}

@media screen and (max-width: 768px) {
    .serviceitem {
        grid-template-columns: 1fr;
    }
}

/* UTILS */
.visuallyhidden {
    display: none;
}